/**
 * Page-specific stylings
 */
.header {
	background: #fff;
}

.navbar {
	margin-bottom: 0px !important;
}

.navbar-brand {
	width: 250px;
	height: 60px;
	background: url("../images/logo.png") left top no-repeat !important;
}

.item-slider {
	height: auto;
}

