/* 2.7.x */
.nivo-control-thumbs {
    padding-bottom: 30px;
    position: relative;
}

.nivo-control-thumbs .nivo-controlNav {
    position: absolute;
    bottom: -70px; /* Put the nav below the slider */
    left: 0;
    margin-left: 0;
    width: 100%;
}

.nivo-control-thumbs .nivo-controlNav a {
    background: none;
    height: auto;
    width: auto;
    text-indent: 0;
}

.nivo-control-thumbs .nivo-controlNav img {
    display: inline; /* Unhide the thumbnails */
    height: auto;
    position: relative;
    margin-right: 10px;
    width: auto;
}

/* 3.x */
.nivo-control-thumbs .nivo-controlNav.nivo-thumbs-enabled {
    bottom: 0;
    left: 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
}

.nivo-control-thumbs .nivo-controlNav.nivo-thumbs-enabled a {
    background: none;
    margin-bottom: 5px;
    height: auto;
    width: auto;
}

.nivo-control-thumbs .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    height: auto;
    width: auto;
}