/**
 * Page-specific stylings
 */

 ul {
    padding: 0;
    list-style: none;
    margin: 0;
 }

 .padding {
 	padding: 85px 0;
 }

 .meta {
 	padding: 0 0 6px 0;
 	border-bottom: 1px solid #dce4ea;
 	margin: 0 0 25px;
 }

 .meta span {
 	font-weight: 400;
 	font-style: italic;
 	line-height: 20px;
 	display: inline-block;
 	padding-right: 20px;
 	margin-right: 10px;
 	border-right: 1px solid #dce4ea;
 }

 .meta span a {
 	color: #49c32c;
 	text-decoration: none;
 	font-weight: 400;
 }

 .meta span.date {
 	border: none;
 	padding: 0;
 	margin: 0;
 }


 .title-block.sectionTitle h3 {
 	margin-bottom: 30px;
 }
 .related_post_sec h3 {
 	font-size: 18px;
 }
 .related_post_sec h3 {
 	text-transform: uppercase;
 	padding-bottom: 15px;
 	border-bottom: 1px solid #dce4ea;
 	margin: 0 0 18px;
 }
 .sectionTitle h3 {
 	color: #000000 !important;
 	text-transform: uppercase;
 	clear: both;
 	margin-bottom: 60px;
 }

 /* news section */
 .news-section {
 	border-bottom: 1px solid #dce4ea;
 }

 @media (min-width: 768px) {
 	.news-section .news-content {
 		padding-right: 30px;
 		border-right: 1px solid #dce4ea;
 	}
 }

 @media (max-width: 767px) {
 	.news-section .news-boxInner {
 		margin-bottom: 40px;
 	}
 }

 .news-section .related_post_sec h3 {
 	padding-bottom: 0;
 	border-bottom: none;
 	margin: 0 0 5px;
 }

 @media (min-width: 992px) {
 	.news-section .related_post_sec h3 {
 		margin: 0 0 25px;
 	}
 }

 .news-section .more {
 	display: block;
 	margin-bottom: 15px;
 	float: none;
 }

 @media (min-width: 992px) {
 	.news-section .more {
 		float: right;
 		margin: 0;
 		display: inline-block;
 	}
 }

 .news-section .single_post.related_post_sec .rel_thumb {
 	width: 100%;
 	float: none;
 	margin: 0 0 10px 0;
 	display: block;
 }

 .news-section .rel_right h4 {
 	margin-bottom: 15px;
 }

 .news-section .upcoming_events .related_post_sec.single_post .rel_right {
 	padding-left: 0;
 	float: none;
 }

 .news-section .upcoming_events .meta span.publish-date {
 	color: black;
 	margin-right: 0;
 	margin-top: 30px;
 	display: block;
 }

 .news-section #event_timer {
 	margin: 20px 0;
 }

 .news-section #event_timer .table-cell {
 	display: inline-block;
 	width: 70px;
 	height: 70px;
 	text-align: center;
 	border: 1px solid #dce4ea;
 	border-radius: 50%;
 	padding-top: 12px;
 	margin-right: 10px;
 }

 @media (max-width: 479px) {
 	.news-section #event_timer .table-cell {
 		width: 50px;
 		height: 50px;
 		padding-top: 6px;
 		margin-right: 7px;
 	}
 }

 @media (min-width: 768px) {
 	.news-section #event_timer .table-cell {
 		width: 50px;
 		height: 50px;
 		padding-top: 6px;
 		margin-right: 3px;
 	}
 }

 @media (min-width: 992px) {
 	.news-section #event_timer .table-cell {
 		width: 65px;
 		height: 65px;
 		padding-top: 9px;
 		margin-right: 7px;
 	}
 }

 @media (min-width: 1200px) {
 	.news-section #event_timer .table-cell {
 		width: 70px;
 		height: 70px;
 		padding-top: 12px;
 		margin-right: 10px;
 	}
 }

 .news-section #event_timer .table-cell:last-child {
 	margin-right: 0;
 }

 .news-section #event_timer .tab-val {
 	font-size: 20px;
 	font-family: 'Roboto Slab', serif;
 	font-weight: 700;
 	color: #545454;
 }

 @media (max-width: 479px) {
 	.news-section #event_timer .tab-val {
 		font-size: 16px;
 		line-height: 16px;
 	}
 }

 @media (min-width: 768px) {
 	.news-section #event_timer .tab-val {
 		font-size: 16px;
 		line-height: 16px;
 	}
 }

 @media (min-width: 992px) {
 	.news-section #event_timer .tab-val {
 		font-size: 20px;
 		line-height: 26px;
 	}
 }

 .news-section #event_timer .tab-metr {
 	font-size: 13px;
 	color: rgba(0, 0, 0, 0.45);
 }

 @media (max-width: 479px) {
 	.news-section #event_timer {
 		font-size: 11px;
 		line-height: 14px;
 	}
 }

 @media (min-width: 768px) {
 	.news-section #event_timer {
 		font-size: 11px;
 		line-height: 14px;
 	}
 }

 @media (min-width: 992px) {
 	.news-section #event_timer {
 		font-size: 13px;
 		line-height: 16px;
 	}
 }


 /* upcoming_events */
 .upcoming_events ul li {
 	display: table;
 	float: none;
 	position: relative;
 }

 .upcoming_events span.date {
 	font-weight: 400;
 	font-size: 14px;
 	color: rgba(0, 0, 0, 0.7);
 	transition: color 0.3s;
 	padding: 5px 0;
 	border: 3px solid #dce4ea;
 	display: inline-block;
 	width: 70px;
 	text-align: center;
 	margin-right: 10px;
 }

 .upcoming_events span.date span {
 	font-weight: 700;
 	font-size: 36px;
 	display: block;
 	line-height: 30px;
 }

 .upcoming_events .related_post_sec.single_post {
 	margin-bottom: 70px;
 	position: relative;
 	float: left;
 }

 @media (max-width: 767px) {
 	.upcoming_events .related_post_sec.single_post {
 		margin-bottom: 0px;
 	}
 }

 .upcoming_events .related_post_sec.single_post .date-wrapper {
 	position: absolute;
 	top: 0;
 	left: 0;
 }

 .upcoming_events .related_post_sec.single_post span.date {
 	display: block;
 	margin-right: 20px;
 }

 .upcoming_events .related_post_sec.single_post .rel_right {
 	padding-left: 90px;
 	float: left;
 }

 .upcoming_events .btn {
 	padding-left: 20px;
 	padding-right: 20px;
 	margin-top: 15px;
 }

 .upcoming_events li.related_post_sec.single_post {
 	float: none;
 	margin-bottom: 16px;
 }

 .upcoming_events .meta,
 .single-event .meta {
 	margin: 15px 0;
 }

 .upcoming_events .meta span,
 .single-event .meta span {
 	font-size: 13px;
 	color: rgba(0, 0, 0, 0.5);
 	font-weight: 400;
 	font-style: normal;
 	line-height: 20px;
 	padding-right: 0;
 	margin-right: 25px;
 	border-right: none;
 }

 .upcoming_events .meta span i,
 .single-event .meta span i {
 	font-size: 16px;
 	padding-right: 10px;
 }

 .upcoming_events .related_post_sec.single_post:hover span.date {
 	color: #49c32c;
 	transition: color 0.3s;
 }

 .upcoming_events .related_post_sec.single_post:hover h4 a {
 	color: black;
 	transition: color 0.3s;
 }

 @media (max-width: 479px) {
 	.upcoming_events.event-col .col-xs-6 {
 		width: 100%;
 	}
 }

 .upcoming_events ul li:hover span.date {
 	color: #49c32c;
 	transition: color 0.3s;
 }

 .upcoming_events ul li:hover h4 a {
 	color: black;
 	transition: color 0.3s;
 }

 .upcoming_events .row {
 	overflow: hidden;
 }

 .upcoming_events h4 a {
 	font-family: 'Roboto Slab', serif;
 	font-weight: 400;
 	font-size: 16px;
 	color: rgba(0, 0, 0, 0.8);
 	transition: color 0.3s;
 	line-height: 24px;
 	text-decoration: none;
 	display: table-cell;
 }

 /* ./upcoming events */

 /* feature-section1 */
 .feature-section1 span {
 	width: 130px;
 	height: 130px;
 }

 @media (min-width: 992px) {
 	.feature-section1 span i {
 		line-height: 130px;
 		font-size: 42px;
 	}
 }

 @media (min-width: 992px) {
 	.feature-section1:hover span i {
 		line-height: 130px;
 	}
 }

 /* ./feature-section1 */


 /* feature box */
 .feature-box {
 	margin-bottom: 30px;
 	transition: all 0.3s ease-in-out;
 }

 .feature-box span {
 	transition: all 0.3s ease-in-out;
 	border: 3px solid transparent;
 	color: #49c32c;
 	text-align: center;
 	border-radius: 50%;
 	background-color: transparent;
 	width: 85px;
 	height: 85px;
 	display: block;
 	margin: 0 auto;
 }

 .feature-box span i {
 	transition: all 0.3s ease-in-out;
 	width: 100%;
 	height: 100%;
 	text-align: center;
 	border: 3px solid #dce4ea;
 	color: #c0c3c7;
 	line-height: 73px;
 	font-size: 28px;
 	border-radius: 50%;
 }

 .feature-box:hover {
 	transition: all 0.3s ease-in-out;
 }

 .feature-box:hover span {
 	transition: all 0.3s ease-in-out;
 	border: 3px solid #49c32c;
 }

 .feature-box:hover span i {
 	transition: all 0.3s ease-in-out;
 	border: 3px solid transparent;
 	color: #49c32c;
 	line-height: 73px;
 }

 .feature-box h3 {
 	color: #000000;
 	font-size: 20px;
 	margin: 25px auto;
 }

 .feature-box p {
 	color: #545454;
 	font-size: 14px;
 	margin: 0;
 }

 .feature-box.v3 span {
 	width: 100px;
 	height: 100px;
 }

 .feature-box.v3 span i {
 	line-height: 80px;
 }

 .feature-box.v3 span:hover {
 	width: 100px;
 	height: 100px;
 }

 .feature-box.v3 span:hover i {
 	line-height: 80px;
 }
 /* ./feature box */

 /* paralax */
 .paralax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    float: left;
    width: 100%;
    padding: 65px 0;
    color: #ffffff;
}

.paralax-text {
    padding-top: 60px;
    margin-top: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

@media (max-width: 767px) {
    .paralax-text {
        padding-top: 45px;
        margin-top: 45px;
    }
}

.paralax-text h2 {
	font-weight: 600;
    font-size: 22px;
    margin-bottom: 25px;
    color: #ffffff;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .paralax-text h2 {
        font-size: 25px;
    }
}

@media (min-width: 1200px) {
    .paralax-text h2 {
        font-size: 30px;
    }
}

.paralax-text p {
    margin: 0;
}

.paralax-text a.commonBtn {
    padding-right: 45px;
    padding-left: 45px;
    margin-top: 40px;
}

.paralax-text .list-inline {
    display: block;
    margin-top: 30px;
}

.paralax-text .list-inline li {
    margin: 0 6px;
    padding: 0;
}

@media (max-width: 479px) {
    .paralax-text .list-inline li {
        margin: 0 3px;
    }
}

.paralax-text .list-inline li a {
    display: inline-block;
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: white;
}

@media (max-width: 479px) {
    .paralax-text .list-inline li a {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
}

.paralax-text .list-inline li a i {
    font-size: 22px;
}

@media (max-width: 479px) {
    .paralax-text .list-inline li a i {
        font-size: 18px;
    }
}

.paralax-text .list-inline li:hover i {
    -webkit-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}

.paralax-text.paralaxInner {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
}
/* ./paralax */

/* VIDEO SECTION */
.video-section {
    width: 100%;
    float: left;
}

@media (max-width: 479px) {
    .video-section .more {
        display: block;
        margin-bottom: 15px;
        float: none;
    }
}

.video-section .rel_right h4 {
    margin-bottom: 10px;
}

.video-section .videoLeft {
    margin-bottom: 40px;
}

@media (min-width: 992px) {
    .video-section .videoLeft {
        padding-right: 15px;
        margin-bottom: 0;
    }
}

.video-section .videoLeft .single_post.related_post_sec .rel_thumb {
    width: 100%;
    float: none;
    margin: 0 0 10px 0;
    display: block;
}

@media (min-width: 992px) {
    .video-section .videoRight {
        padding-left: 15px;
    }
}

.video-section .videoRight .single_post.related_post_sec .rel_thumb {
    margin: 0;
    width: 34%;
}

.video-section .videoRight .rel_right {
    margin-left: 40%;
}

.video-section .videoRight .single_post.related_post_sec ul li {
    border-bottom: none;
}

.video-section .videoRight .single_post.related_post_sec ul li:last-child {
    margin: 0;
    padding: 0;
}
/* ./VIDEO SECTION */

/* single_post and related_post_sec */
 .single_post.related_post_sec .meta > span {
 	border: none;
 }
 .single_post.related_post_sec h4 a:hover {
 	color: black;
 }
 .single_post.related_post_sec h4 a {
 	font-size: 16px;
 	font-weight: 700;
 	color: rgba(0,0,0,0.6);
 	line-height: 21px;
 	margin: 0 0 8px;
 	text-decoration: none;
 }

 .commonBtn {
 	padding: 0;
 	padding-right: 0px;
 	padding-left: 0px;
 	background-color: #49c32c;
 	text-transform: uppercase;
 	color: #fff;
 	border-color: #49c32c;
 	height: 42px;
 	line-height: 42px;
 	font-weight: 700;
 	border-radius: 0;
 }

 .commonBtn:hover, .commonBtn:focus {
 	background-color: #49c32c;
 	color: #fff;
 }

 .more {
    font-size: 12px;
    font-weight: 700;
    color: rgba(0,0,0,0.3);
    display: inline-block;
    text-transform: uppercase;
    float: right;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab',serif;
    font-weight: 700;
    color: #282428;
    margin: 0;
}

.title-block.sectionTitle {
    display: inline-block;
}

.title-block.sectionTitle h3 {
    margin-bottom: 30px;
}

.related_post_sec ul li {
    padding: 0 0 6px;
    margin: 0 0 18px;
    border-bottom: 1px solid #dce4ea;
    display: block;
    clear: both;
    width: 100%;
    float: left;
}

@media (max-width: 767px) and (max-height: 450px) {
    .related_post_sec ul li {
        padding: 0 0 24px;
    }
}

.related_post_sec ul li:last-child {
    border: none;
}

.rel_thumb {
    width: auto;
    float: left;
    height: auto;
    margin: 5px 10px 0 0;
}

.rel_right h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.rel_right span.date {
    font-weight: 400;
    font-style: italic;
    font-weight: normal;
    line-height: 20px;
}

.rel_right span.date a {
    text-decoration: none;
    color: #49c32c;
    font-weight: 400;
}

.related_post_sec a.more_post {
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 44px;
    border: 1px solid #0060b1;
    text-align: center;
    color: #000;
    display: block;
    clear: both;
}

.single_post.related_post_sec h4 a:hover {
    color: black;
}

.single_post.related_post_sec .rel_thumb {
    margin-right: 20px;
    width: 34%;
}

@media (max-width: 479px) {
    .single_post.related_post_sec .rel_thumb {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }
}

.single_post.related_post_sec .meta {
    padding: 0;
    border: none;
    margin: 0 0 15px;
}

.single_post.related_post_sec .meta>span {
    border: none;
}

.single_post ul li:last-child {
    border-bottom: 1px solid #dce4ea;
}

.single_post.related_post_sec p {
    margin: 0;
}

.videoNine .single_post.related_post_sec p {
    clear: none;
}

.videoArea {
    margin-bottom: 27px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dce4ea;
}

.videoArea>h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.videoLeft {
    position: relative;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .videoLeft {
        margin-bottom: 0;
    }
}

.videoLeft img {
    cursor: pointer;
    width: 100%;
}

.videoLeft iframe {
    width: 100%;
}

.videoButton {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    cursor: pointer;
    margin-top: -39px;
}

.videoRight>p {
    margin: 0 0 15px 0;
}

.video-section .videoRight .single_post.related_post_sec ul li {
    border-bottom: none;
}

.single_post ul li {
    padding: 0 0 25px;
    margin: 0 0 22px;
    float: left;
    display: block;
}

.related_post_sec ul li {
    padding: 0 0 6px;
    margin: 0 0 18px;
    border-bottom: 1px solid #dce4ea;
    display: block;
    clear: both;
    width: 100%;
    float: left;
}

.related_post_sec ul {
	padding: 0;
}

/* ./single_post and related_post_sec */

/* Gallery */
.covered-img {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    height: 150px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px;
    text-align: center;
}

.covered-img img {
    height: 130px;
    width: auto;
    margin: auto;
}

.gallery-section {
    width: 100%;
    float: left;
}

@media (min-width: 768px) {
    .gallery-section .photo_gallery .gallery li {
        margin-bottom: 0;
    }
}

.gallery-section .photo_gallery .gallery li img {
    width: 100%;
}

.gallery-section .photo_gallery {
    border-bottom: 1px solid #dce4ea;
}

.photo_gallery.custom {
    padding-bottom: 0;
    border-bottom: none;
}

.photo_gallery .gallery li {
    width: 48.5%;
    margin: 0 3% 20px 0;
    float: left;
    position: relative;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    display: inline-block;
}

@media (max-width: 479px) {
    .photo_gallery .gallery li {
        width: 100%;
        margin: 0 0 15px 0;
    }
}

@media (min-width: 768px) {
    .photo_gallery .gallery li {
        width: 22.75%;
        margin: 0 3% 30px 0;
    }
}

.photo_gallery .gallery {
    padding: 0;
}

.photo_gallery .gallery li .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    text-align: center;
    transition: background 0.3s;
}

.photo_gallery .gallery li span.zoom {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    -webkit-transform: translate(0, 30px);
    transform: translate(0, 30px);
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    position: absolute;
    bottom: 32%;
    left: 50%;
    z-index: 99;
    text-align: center;
    margin-left: -25px;
}

.photo_gallery .gallery li i {
    padding-top: 15px;
}

.photo_gallery .gallery li:hover .overlay {
    background: rgba(0, 0, 0, 0.25);
    transition: background 0.3s;
}

.photo_gallery .gallery li:hover span.zoom {
    opacity: 1;
    transition-delay: 0.1s;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

@media (min-width: 768px) {
    .photo_gallery .gallery li:nth-child(4n) {
        margin-right: 0;
        clear: right;
    }
}

@media (max-width: 767px) {
    .photo_gallery .gallery li:nth-child(2n) {
        margin-right: 0;
        clear: right;
    }
}

@media (min-width: 768px) {
    .photo_gallery .gallery.gallery-3col li {
        width: 31.3%;
        margin: 0 3% 30px 0;
    }
    .photo_gallery .gallery.gallery-3col li span.zoom {
        width: 50px;
        height: 50px;
        bottom: 35%;
    }
    .photo_gallery .gallery.gallery-3col li span.zoom i {
        padding-top: 18px;
    }
}

@media (min-width: 768px) {
    .photo_gallery .gallery.gallery-3col li:nth-child(4n) {
        clear: none;
        margin: 0 3% 30px 0;
    }
}

@media (min-width: 768px) {
    .photo_gallery .gallery.gallery-3col li:nth-child(3n) {
        margin-right: 0!important;
        clear: right!important;
    }
}

/* ./Gallery */

/* Testimonial */
.testimonial-section {
    padding: 75px 0;
    background-color: #f1f4f7;
    width: 100%;
    float: left;
}

.testimonial .carousal_bottom {
    padding-left: 0;
}
/* ./Testimonial */

/* carousal and thumb */
.carousal_content {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    position: relative;
    margin: 0 0 36px;
}

.carousal_content p {
    font-weight: 600;
    font-style: italic;
    color: #7e7e7e;
    margin: 0;
    line-height: 28px;
}

.carousal_content::after {
    width: 26px;
    height: 27px;
    position: absolute;
    content: " ";
    background: url(../images/bottom_arrow.png) no-repeat center center;
    bottom: -27px;
    left: 30px;
}

.carousal_bottom .thumb {
    width: 70px;
    float: left;
    height: auto;
    margin-right: 18px;
    border-radius: 50%;
}

.carousal_bottom .thumb img {
    border-radius: 50%;
}

.thumb_title {
    margin: 12px 0 0;
    float: left;
}

.thumb_title span {
    display: block;
    font-weight: 600;
}

.thumb_title .author_name {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}

.thumb_title .author_designation {
    font-style: italic;
    font-size: 14px;
    color: #7e7e7e;
}

.thumb_title .author_designation a {
    text-decoration: none;
    color: #49c32c;
}

.carousal_section .flex-control-paging {
    position: relative;
    bottom: 0;
    margin-top: 80px;
}
/* ./carousal and thumb */

/* Features */
.features {
    padding-left: 30px;
}

@media (max-width: 767px) {
    .features {
        padding-left: 0;
        margin-top: 25px;
    }
}

.features h3 {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.features ul li {
    width: 100%;
    line-height: 27px;
    margin: 0 0 15px;
    font-weight: 600;
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
    transition: color 0.3s;
    position: relative;
    padding-left: 35px;
    list-style-type: none;
}

.features ul li:hover {
    color: black;
    transition: color 0.3s;
}

.features ul li:hover i {
    color: #49c32c;
    transition: color 0.3s;
}

.features ul li i {
    font-size: 28px;
    text-align: right;
    margin-right: 10px;
    color: #c5c5c5;
    transition: color 0.3s;
    font: normal normal normal 28px/1 FontAwesome;
    position: absolute;
    left: 0;
    top: 1px;
}
/* ./Features */




/* Footer */
@media (max-width: 767px) {
    .menuFooter .col-xs-6:nth-child(2n+1) {
        clear: left;
    }
}

.menuLink li {
    list-style: none;
}

.menuLink li a {
    line-height: 30px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.menuLink li a:hover {
    opacity: .8;
}

.menuFooter {
    background-color: #fff;
    width: 100%;
    float: left;
    height: auto;
    padding: 17px 0 35px;
    border-top: 1px solid #dce4ea;
}

.footer-address address {
    line-height: 24px;
    margin-bottom: 5px;
}

.footer-address .place {
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.footer-address .place:hover,
.footer-address .place:focus {
    color: black;
}

.footer-address .place i {
    font-size: 20px;
    padding-right: 7px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.3);
}

.socialArea>h5,
.contactNo>h5,
.footer-address h5 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.socialArea>.list-inline>li>a:hover>img {
    opacity: .8;
}

.socialArea {
    margin-bottom: 20px;
    clear: both;
    width: 100%;
    float: left;
}

.socialArea .list-inline {
    margin-left: 0;
    text-align: center;
}

.socialArea .list-inline li {
    padding: 0;
    float: left;
    margin: 0 4px 4px 0;
}

.socialArea .fa {
    background: #c5c5c5;
    color: #fff;
    font-size: 18px;
    height: 31px;
    line-height: 32px;
    text-align: center;
    width: 31px;
    border-radius: 50%;
    opacity: 1;
    filter: alpha(opacity=100);
}

.socialArea .fa:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    transition: opacity 0.3s;
}

.contactNo>h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

@media (min-width: 768px) {
    .contactNo>h3 {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .contactNo>h3 {
        font-size: 22px;
    }
}

@media (max-width: 479px) {
    .borderLeft {
        height: auto;
        border: none;
        border-top: 1px solid #dce4ea;
        padding-top: 8px;
    }
}

@media (min-width: 768px) {
    .borderLeft {
        border-left: 1px solid #dce4ea;
        min-height: 180px;
    }
}

@media (min-width: 992px) {
    .borderLeft {
        min-height: 170px;
    }
}

.footer {
    padding: 20px 0;
    float: left;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}

.footer a {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    transition: color 0.3s;
}

.footer a:hover,
.footer a:focus {
    color: white;
    transition: color 0.3s;
}

.copyRight p {
    font-size: 13px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.5);
}

.copyRight p a {
    text-decoration: underline;
}

.privacy_policy {
    text-align: right;
}

@media (max-width: 767px) {
    .privacy_policy {
        text-align: center;
    }
}

.privacy_policy a {
    display: inline-block;
    margin-right: 3px;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 8px;
    line-height: 16px;
}

.privacy_policy a:last-child {
    margin-right: 0;
    border-right: none;
    padding-right: 0;
}

.footer-v2 {
    color: rgba(0, 0, 0, 0.7);
}

.footer-v2 a {
    transition: color 0.3s ease;
}

.footer-v2 a.footer-logo {
    width: 170px;
    display: inline-block;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .footer-v2 a.footer-logo {
        width: 150px;
    }
}

@media (min-width: 992px) {
    .footer-v2 a.footer-logo {
        width: 190px;
    }
}

.footer-v2 .menuFooter {
    padding: 65px 0;
}

.footer-v2 h5 {
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.footer-v2 .menuLink li a {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    margin-bottom: 7px;
}

.footer-v2 .menuLink li a:hover {
    color: black;
}

.footer-about a {
    font-size: 12px;
    color: #929497;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.footer-about a:hover {
    color: rgba(0, 0, 0, 0.8);
}

.footer-contact ul li {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.3s ease;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

.footer-contact ul li:hover {
    color: black;
}

.footer-contact ul li a {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}

.footer-contact ul li a:hover {
    color: black;
}

.footer-contact ul li i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 5px;
}

.footer-v2 .footer {
    padding: 0;
    background: #fff;
}

.footer-v2 .footer .copyRight p,
.footer-v2 .footer a {
    color: rgba(0, 0, 0, 0.7);
}

.footer-v2 .footer a:hover,
.footer-v2 .footer a:focus {
    color: black;
}

.footer-v2 .footer .privacy_policy a {
    display: inline-block;
    margin-right: 0;
    border-right: none;
    padding-right: 0;
    line-height: 16px;
}

.footer-v2 .footer .privacy_policy a:after {
    content: "|";
    font-size: 12px;
    display: inline-block;
    padding: 0 4px;
}

.footer-v2 .footer .privacy_policy a:last-child:after {
    content: "";
    padding: 0;
}

.footer-v2 .footer-bottom {
    padding: 20px 0;
    border-top: 1px solid #dce4ea;
}

.footer-v2.footer-v3 {
    color: rgba(255, 255, 255, 0.5);
}

.footer-v2.footer-v3 .menuFooter {
    background: #222c34;
}

.footer-v2.footer-v3 h5 {
    color: white;
}

.footer-v2.footer-v3 .menuLink li a {
    color: rgba(255, 255, 255, 0.5);
}

.footer-v2.footer-v3 .menuLink li a:hover {
    color: white;
}

.footer-v3 .footer-about a {
    color: rgba(255, 255, 255, 0.5);
}

.footer-v3 .footer-about a:hover {
    color: white;
}

.footer-v3 .footer-contact ul li {
    color: rgba(255, 255, 255, 0.5);
}

.footer-v3 .footer-contact ul li:hover {
    color: white;
}

.footer-v3 .footer-contact ul li a {
    color: rgba(255, 255, 255, 0.5);
}

.footer-v3 .footer-contact ul li a:hover {
    color: white;
}

.footer-v3 .footer-contact ul li i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 5px;
}

.footer-v2.footer-v3 .footer {
    padding: 0;
    background: #1e2830;
}

.footer-v2.footer-v3 .footer .copyRight p,
.footer-v2.footer-v3 .footer a {
    color: rgba(255, 255, 255, 0.3);
}

.footer-v2.footer-v3 .footer a:hover,
.footer-v2.footer-v3 .footer a:focus {
    color: rgba(255, 255, 255, 0.8);
}

.footer-v2.footer-v3 .footer-bottom {
    border-top: none;
}
/* Footer */