/**
 * SASS for Admin Panel
 */
/**
 * Mixins which can be shared for all sites
 */
/**
 * Shared variables (e.g. colors, font sizes)
 */
/**
 * Related to Grocery CRUD
 */
/* line 6, ../sass/admin/_crud.scss */
.flexigrid div.form-div input[type="text"], .flexigrid div.form-div input[type="password"] {
  height: auto !important;
}

/* line 10, ../sass/admin/_crud.scss */
.checkbox, .radio {
  display: inline;
  margin-bottom: 0;
  margin-top: 5px;
}

/* line 17, ../sass/admin/_crud.scss */
.ajax_list .fa {
  font-size: 18px;
  color: inherit;
  text-decoration: none;
}

/**
 * Page-specific stylings
 */
